node_modules/
dist/
.history/
.env
data/*.json
server/data/*.json
server/config/google-credentials.json
*.log
.gemini/

server/uploads/*
!server/uploads/.gitkeep

.vercel
.env*

.vercel
.env*

.vercel
.env*
